body {
  background-image: url(../img/bg.jpg);
}

.main{
  text-align: center;
  padding-top: 250px
}

.num2019{
  position: absolute;
  top: 200px;
  bottom:auto;
  left: 80px;
  right: auto;
}

.num2020{
  position: absolute;
  top: auto;
  bottom: 200px;
  left: auto;
  right: 80px;
}
. display:flex;
  align-items:center;

.exampleModal{
background-image: url(../img/modalbg.jpg);
}

@media (max-width:560px) {
  .main img {
    width: 300px;
  }
}
